<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Funnelist</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class="super-header">Funnelist</h1>
      <form name="myform" action="/" method="POST">
        <div>
          <p style="text-align: center">User name: <input type="text" name="user"></p>
          <p style="text-align: center">List name: <input type="text" name="list"><br></p>
          <p style="text-align: center"><input type="submit" value="Send"></p>
        </div>
      </form>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
