<html>
  <head>
    <title>FunneList</title>
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css">
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css">
    <link type="text/css" rel="stylesheet" href="index.css">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <style>
        li {
            list-style: none;
            width:45%;
            display:inline-block;
            margin-bottom:15px;
        }
        li > p {
            margin:0;
            padding-left:10px;
        }
        li > h3 {
            margin-bottom: 5px;
        }
    </style>
  </head>
  <body>

    <div class="nav">
      <h3>FunneList</h3>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          @twitterHandle
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="1" href="#">Action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="2" href="#">Another action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="3" href="#">Something else here</a></li>
          <li role="presentation"><a role="menuitem" tabindex="4" href="#">Separated link</a></li>
        </ul>
      </div>
    </div>

    <div class="col-container">
      <div class="col">(List goes here)</div>
      <div class="col">(Additions recs go here)</div>
      <div class="col">(Deletions recs go here)</div>
    </div>

  </body>
</html>
