.timeline li {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 10px; 
  margin: 10px 0;
  box-shadow: 0 0 5px #888888;
}

.timeline{
  padding: 0;
  list-style: none;
}

.timeline p{
  font-size:12px;
  line-height: 1.2;
  color: #888888;
  margin: 0 0 0 5px;
}

.timeline h4{
  margin: 5px 0px;
}