<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Funnelist</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/index.css" rel="stylesheet">
  </head>
  <body>
    <div style="background-color: rgb(18, 138, 213); color: white;text-align:center;padding-bottom:25px;margin-bottom:15px;">
      <h1 class="super-header"style="width:1170px;">Funnelist</h1>
      <h1 style="width:1170px;">{{ title }}</h1>
    </div>
    <div class="container"  style="width:1170px;margin:0 auto">
      <div class="row">
        <div class="col-xs-4">
          <h2 style="display:inline-block;">Users</h2>
          <div style="margin-left:10px;display:inline-block;">
            <div>Sort 
              <select id="sorting-dropdown">
                <option>Dictionary Hits</option>
                <option>FF Ratio</option>
                <option>Frequency</option>
              </select> : &nbsp;  
              <span class="btn sort-up-button">up </span> 
              <span class="btn sort-down-button">down</span>
            </div>
            <div>Show: <input type="checkbox" checked name="verified">Verified <input type="checkbox" checked name="notverified">Not Verified</div>
            <div>Keywords: <input type="text" name="keywords" placeholder="microsoft,apple"><span class="btn add-keywords-btn">Add</span></div>
          </div>

          <ul class="user-list" style="margin-top:10px;">
            {{# users }}
              <li data-dicthits = "{{ metrics.dictionaryHits }}" data-ffratio="{{ metrics.ff_ratio }}" data-freq="{{ metrics.frequency }}" data-verified="{{ metrics.verified }}">
                <h3><a style="color:rgb(51, 51, 51); " href="https://twitter.com/{{ screen_name }}">@{{ screen_name }}</a></h3>
                <ul class="metrics-list">
                  <li>FF ratio: {{ metrics.ff_ratio }}</li>
                  <li>{{^ metrics.verified }}Not {{/ metrics.verified }}Verified</li>
                  <li>Frequency: {{ metrics.frequency }}</li>
                  <li class="dict-hits">Dictionary Hits: {{metrics.dictionaryHits}}</li>
                  {{# canwrite }}
                    <li><a class="delete-button" data-user="{{ screen_name }}">Remove user</a></li>
                  {{/ canwrite }}
                </ul>
              </li>
            {{/ users }}
          </ul>
          {{^ users }}
            <p>can't get users at this time...</p>
          {{/ users }}
        </div>
        <div class="col-xs-5">
            <h2>Recent Timeline &nbsp;&nbsp; <span class="mentions-button" style="font-size:14px;font-weight:normal;">Restore Timeline</span></h2>
            <ul class="timeline">
              {{# timeline }}
                <li>
                  <h3><a style="color:rgb(51, 51, 51); " href="https://twitter.com/{{ screen_name }}">@{{ username }}</a></h3>
                  <p data-id="{{ tweetid }}">{{ tweet }}</p>
                </li>
              {{/ timeline }}
            </ul>
            {{^ timeline }}
              <p>The timeline can't be retreived at this time...</p>
            {{/ timeline }}
          </div>
        <div class="col-xs-3">
          <h2>Suggestions</h2>
           <ul class="mentions-list">
              {{# mentions }}
                <li>
                  <p>
                    <strong>{{ username }}: </strong>   
                    {{# canwrite }} 
                    <a class="add-button" data-user="{{ username }}" style="font-size: 12px">Add user</a>
                   {{/ canwrite }}
                  </p>   
                  <div class="mentions-more-info">
                    <p>Mentioned {{ count }} times. <span style="color: #2a6496" class="mentions-button" data-ids="{{ mentionedTweets }}">See tweets</span></p>
                    <p><a target="_blank" href="https://twitter.com/{{ username }}">View profile</a></p>
                  </div>
                </li>
              {{/ mentions }}
          </ul>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script>
      {{# canwrite }}
      $('.add-button').click(function() {  
        var username = $(this).attr('data-user');
        $.post( "/adduser", 
          {
            list: "{{ listname }}",
            owner: "{{ ownername }}",
            user: username
          },
          function( data ) {
            alert( "User was added to the list" );
        });
      });

      $('.mentions-button').click(function() {  
        var tweetidString = $(this).attr('data-ids');        
        var timelineArray = $(".timeline li");

        if(tweetidString == undefined){
          timelineArray.show();
          return;
        }

        var tweetids = tweetidString.split(',');

        timelineArray.each(function(){
            var id = $(this).find('p').attr('data-id');

            if(id == undefined){
              console.log ("UNDEFINED?");
            }

            var hasMatch = false;

            for (var i = 0; i < tweetids.length; i++){
              if(id == tweetids[i]){
                $(this).show();
                console.log("equal: "+tweetids[i]);
                hasMatch = true;
              }
            }
            if (!hasMatch){
              $(this).hide();
              console.log(tweetids[i] + "!= " + id);
            }
        })

      });

      $('.delete-button').click(function() {  
        var username = $(this).attr('data-user');
        $.post( "/removeuser", 
          {
            list: "{{ listname }}",
            owner: "{{ ownername }}",
            user: username
          },
          function( data ) {
            alert( "User was deleted from the list" );
        });
      });
      {{/ canwrite }}

      
      
      function getSortingVal(sortVal){
        if(sortVal == "Dictionary Hits"){
          return 'dicthits';
        }
        if(sortVal == "Frequency"){
          return 'freq';
        }
        if(sortVal == "FF Ratio"){
          return 'ffratio';
        }
        console.log("DIDNT GET RIGHT SORTING VAL")
      }

      $(".sort-up-button").click(function() {
        var sortVal = $("#sorting-dropdown option:selected").text();
        sortVal = getSortingVal(sortVal);

        var $userList = $(".user-list > li");

        $userList.sort(function (a, b){
          return ($(b).data(sortVal)) > ($(a).data(sortVal)) ? 1 : -1;    
        });

       $userList.detach().appendTo($(".user-list"));
      });

      $(".sort-down-button").click(function() {
        var sortVal = $("#sorting-dropdown option:selected").text();
        sortVal = getSortingVal(sortVal);

        var $userList = $(".user-list > li");

        $userList.sort(function (a, b){
          return ($(b).data(sortVal)) <= ($(a).data(sortVal)) ? 1 : -1;    
        });

       $userList.detach().appendTo($(".user-list"));
      });


      $("input[name='verified']").click(function(){
        var userArray = $('.user-list > li');
        userArray.each(function(){
          if($(this).attr('data-verified') == "true") {
            if($("input[name='verified']").is(':checked')){
               $(this).show();
            }
            else{
               $(this).hide();
            }
          }

        })
      });

      $("input[name='notverified']").click(function(){
        var userArray = $('.user-list > li');
        userArray.each(function(){
          if($(this).attr('data-verified') == "false") {
            if($("input[name='notverified']").is(':checked')) {
               $(this).show();
            }
            else {
               $(this).hide();
            }
          }

        })
      });

      $(".add-keywords-btn").click(function(){
        console.log($("input[name='keywords']").val());
        var keywords = $("input[name='keywords']").val().split(',');
        var tweetArray= $(".timeline > li");
        var userArray = $(".user-list > li");

        userArray.each(function(){
          $(this).attr('data-dicthits', 0);
        });

        var totalCount = 0;

        tweetArray.each(function(){
          var count = 0;
          var tweetText = $(this).find("p").html().toLowerCase();
          for (var i=0; i < keywords.length; i++){
            if(tweetText.indexOf(keywords[i].toLowerCase()) >= 0){
              count++;
            }
          }
          var user = $(this).find("a").html();
          if (count > 0){
            userArray.each(function(){
              var u = $(this).find("a").html();
              if (u == user){
                $(this).attr('data-dicthits', Number($(this).attr('data-dicthits')) + count);
                $(this).find('.dict-hits').html("Dictionary Hits: "+ $(this).attr('data-dicthits'));
                return false;
              }
            });
          }
          totalCount += count;
        });
        console.log("TOTAL: " + totalCount)
      });



    </script>
  </body>
</html>
