<html>
  <head>
    <title>FunneList</title>
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css">
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css">
    <link type="text/css" rel="stylesheet" href="index.css">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
  </head>
  <body>
	<div class=“container”>
		<div class=“row”>
			<div class=“col-md-4”>
				HI
			</div>			
			<div class=“col-md-4”>
				There
			</div>	
			<div class=“col-md-4”>
				GUy
			</div>	
		</div>
	</div>
 </body>
</html>