.super-header{
  font-size: 72px;
  text-align: center;
  padding-top:10px;
  margin-bottom:20px;
  margin-top:0;
}

.row h2{
  margin-bottom: 10px;
}

.timeline{
  padding: 0;
  list-style: none;
  max-height:1570px;
  overflow: scroll;
}

.timeline li {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 10px; 
  margin: 10px 0;
  box-shadow: 0 0 5px #888888;
}


.timeline p{
  font-size:12px;
  line-height: 1.2;
  color: #888888;
  margin: 0 0 0 10px;
}

.timeline h4{
  margin: 5px 0px 5px 5px;
}

.timeline h3{
  margin-top: 0;
}


.user-list > li {
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.user-list{
  list-style: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px; 
  box-shadow: 0 0 5px #888888; 
   max-height:1570px;
  overflow: scroll;
}

.user-list .row{
  margin: 0 auto;
}

.user-list h4{
  margin: 5px 0px 5px 5px;
}

.user-list h3{
  margin: 0 0 10px 0;
}

.mentions-list{
  list-style: none;
  padding-left: 5px;
}

.mentions-list > li > p{
  margin:0 0 5px 0;

}

.mentions-list li{
  margin-bottom: 20px;
}


.metrics-list{
  list-style: none;
  padding: 0;
}

.metrics-list > li{
  display: inline-block;
  font-size:12px;
  line-height: 1.2;
  color: #888888;
  margin: 0 0 0 10px;
  width: 40%;
}

.mentions-more-info{
 font-size:12px;
  line-height: 1.2;
  color: #888888;
  margin: 0 0 0 0px;
}

.mentions-more-info p, .mentions-more-info a{
  margin-bottom: 5px;
}

.mentions-button:hover{
  cursor: pointer; 
  text-decoration: underline;

}

.sort-up-button, .sort-down-button{
  padding: 0;
}

a:hover{
  cursor:pointer;
}


